
<router-outlet></router-outlet>

<div class="container">
  <header>
    <app-welcome></app-welcome>
    <app-registro-reactivo></app-registro-reactivo>
  </header>
  
  <main>
    <div class="productos-categorias">
      <app-productos class="productos"></app-productos>
      <app-categorias class="categorias"></app-categorias>
    </div>
    
    <div class="contador-formulario">
      <app-contador class="contador"></app-contador>
      <app-formulario class="formulario"></app-formulario>
    </div>
    
    <app-calculadora class="calculadora"></app-calculadora>
  </main>
  
  <footer>
    <p>&copy; 2024 Mi Aplicación</p>
  </footer>
</div>
  