
<router-outlet></router-outlet>

<div class="container">
    <header>
      <app-welcome></app-welcome>
    </header>
    
    <main>
      <section>
        <app-productos></app-productos>
      </section>
  
      <section>
        <app-categorias></app-categorias>
      </section>
  
      <section>
        <app-contador></app-contador>
      </section>
  
      <section>
        <app-formulario></app-formulario>
      </section>
  
      <section>
        <app-calculadora></app-calculadora>
      </section>
    </main>
    
    <footer>
      <p>&copy; 2024 Mi Aplicación</p>
    </footer>
  </div>
  